.main {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}
.title {
    color: white;
    font-size: 45px;
}
.t-d {
    color: rgb(146, 148, 148);
}
@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
.logos {
    display: flex;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    padding: 30px 0;
    background-color: rgba(207, 205, 205, 0.75);
}
.logos:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
    z-index: 2;
}
.logos:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
    z-index: 2;
}
.logos:hover .logos-slide {
    animation-play-state: paused;
}
.logos-slide {
    width: 100%;
    animation: 25s slide infinite linear;
}
.logos-slide img {
    height: 60px;
    margin: 0 90px;
}
@media(max-width: 800px) {
    .logos-slide img {
        height: unset;
        width: 80px;
        margin: 0 90px;
    }
    .logos {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .logos:before {
        content: unset;
    }
    .logos:after {
        content: unset;
    }
    .logos:hover .logos-slide {
        animation-play-state: unset;
    }
    .logos-slide {
        width: 100%;
        animation: 10s slide infinite linear;
    }
}