.main {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}
.title {
    color: white;
    font-size: 45px;
}
.t-d {
    color: rgb(146, 148, 148);
}
.logo-scroll-div {
    background-color: rgba(207, 205, 205, 0.75);
}
.logo-scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}