/* START CODE*/
/*CSS FRAM.*/
.text {
    text-align: center;
    color: white
}
.mx-33 {
    margin: 0px 33px;
}
.mt-90 {
    margin-top: 90px;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
:root {
    --bar-width: 25px;
    --bar-height: 2.8px;
    --hamburger-gap: 3px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}
body {
    min-height: 120vh;
}
/*FIXED BACKGROUND*/
.container .mobile {
    display: none;
}
.container .desktop {
    display: flex;
}
.container img {
    position: fixed;
    background-size: 100% auto;
    background-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -999;
}
/* FIXED NAVIGATION BAR*/
li {
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    transition: all 0.3s ease;
}
a:hover {
    color: #23a6f0;
}
header {
    position: fixed;
    z-index: 1000;
    padding: 0 2rem;
    width: 100%;
    background-color: rgba(207, 205, 205, 0.36);
}
.navbar {
    width: 100%;
    height: 90px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo {
    width: 20%;
    display: inline-flex;
    align-items: center;
}
.navbar .logo h3 {
    margin-left: 1.5rem;
    color: white;
}
.navbar .links li {
    position: relative;
    z-index: 1100;
}
.navbar .links {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.navbar .logo a img {
    left: 0;
    border-radius: 35px;
    width: 65px;
    height: 65px;
}
.navbar .links {
    display: flex;
    gap: 2rem;
}
.navbar .toggle-btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.action-btn {
    background-color: #23a6f0;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}
.action-btn:hover {
    scale: 1.05;
    color: #fff;
}
.hamburger {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    z-index: 1400;
    width: max-content;
    display: none;
    flex-direction: column;
    gap: var(--hamburger-gap);
    cursor: pointer;
}
.hamburger::before,
.hamburger::after,
.hamburger input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: white;
    border-radius: 800px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing), background-color var(--animation-timing);
}
.hamburger input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}
.hamburger:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}
.hamburger:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}
.hamburger input:checked {
    opacity: 0;
    width: 0;
}
@keyframes show {
    0% {
        height: 0%;
    }
    100% {
        height: 215px;
    }
}
@keyframes hide {
    0% {
        height: 215px;
    }
    100% {
        height: 0%;
    }
}
@keyframes animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.sidebar {
    animation: show 300ms forwards;
    transition: all 0.3s ease;
    margin-top: 90px;
    position: fixed;
    top: 0;
    right: 0;
    height: max-content;
    border-radius: 10px;
    width: 100%;
    z-index: 999;
    background-color: rgba(207, 205, 205, 0.36);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li {
    animation: animation 1s;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 13px;
}
.sidebar {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
}
.sidebar.open {
    display: flex;
    height: 215px;
}
@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }
    header {
        background-color: unset;
    }
    .hamburger {
        display: flex;
    }
    .mainscreen .title {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .mainscreen .t-d {
        font-size: 18px;
    }
    .container .mobile {
        display: flex;
    }
    .container .desktop {
        display: none;
    }
    .portfolio {
        margin-top: 80px;
    }
}
/*FOOTER*/
@font-face {
    font-family: 'SF Pro Bold';
    src: url('Fonts/SF-Pro-Text-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'SF Pro Regular';
    src: url('Fonts/SF-Pro-Text-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'SF Pro Thin';
    src: url('Fonts/SF-Pro-Text-Thin.otf') format('opentype');
}
@font-face {
    font-family: 'SF Pro UltraLight';
    src: url('Fonts/SF-Pro-Text-Ultralight.otf') format('opentype');
}
.footer {
    background-color: #0A142F;
    padding: 50px 80px;
}
.container-list-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer-listitem {
    width: 100%;
}
.p-b {
    margin-left: 300px;
    margin-right: 300px;
}
.footer-listitem h1 {
    color: white;
    font-family: 'SF Pro Bold', Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
}
.footer-listitem ul li {
    margin-bottom: 7px;
    width: max-content;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.67);
    font-size: 14px;
    font-family: 'SF Pro Thin', Arial, sans-serif;
    transition: all 150ms ease;

}
.footer-listitem ul li:hover {
    color: #0081FE;
}
hr {
    margin-top: 30px;
    border-color: rgba(255, 255, 255, 0.1);
}
.footer-bottom {
    margin-top: 30px;
    display: flex;
    text-align: center;
    align-items: center;
}
.logo-footer {
    width: 60px;
    height: 60px;
}
.footer-copyright {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.footer-copyright h2 {
    color: white;
    font-size: 18px;
    font-weight: 400;
    font-family: 'SF Pro Thin', Arial, sans-serif;
}
.mlr {
    margin-left: 5px;
    margin-right: 5px;
}
@media(max-width: 900px) {
    .container-list-footer {
        display: none;
    }
    hr {
        display: none;
    }
    .social-media-logo-list {
        display: none;
    }
    .footer-copyright h2 {
        font-size: 14px;
    }
}